@forward './lyrics.scss';
@forward './player.scss';
@forward './queue.scss';

@use './colors.scss' as colors;

body {
    font-family: 'Instrument Sans';
    background: colors.$background;
    color: colors.$foreground;
    height: 100vh;
    margin: 0;

    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 0px;
}

* {
    box-sizing: border-box;
}

::selection {
    background: rgba(colors.$foreground, .3);
    color: colors.$foreground;
}

#app {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;

    #contentContainer {
        display: flex;
        position: relative;
        width: 100%;
        
        .mainContainer {
            flex: 1;
        }
    }
}