@use './colors.scss' as colors;

@keyframes animationQueueItemSlideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

$queueMaxWidth: 380px;

#app[data-zen="true"] {
    #queueContainer[data-collapsable="true"] {
        transform: translateX(calc($queueMaxWidth - 1.5rem - 8px - 50px - 1.5rem - 10px));
        position: fixed;

        .queueEmptyIndicator {
            opacity: 0;
            transition: .25s cubic-bezier(0, .78, .17, 1);
        }

        #queue {
            h1 {
                opacity: 0;
                transition: .25s cubic-bezier(0, .78, .17, 1);
            }

            .queueItem {
                img {
                    margin-right: calc(1.5rem + 10px);
                }
            }
        }

        &:hover {
            transform: translateX(0);

            .queueEmptyIndicator:not([data-hidden="true"]) {
                opacity: 1;
            }

            #queue {
                h1 {
                    opacity: 1;
                }
            }
        }
    }
}

#queueContainer {
    display: flex;
    flex-direction: column;

    position: sticky;

    top: 0;
    right: 0;

    height: 100%;
    width: $queueMaxWidth;
    min-width: 300px;

    border-left: 2px solid rgba(colors.$foreground, .1);
    padding: 0 1.5rem 1.5rem;

    background: rgba(colors.$foreground, .05);
    backdrop-filter: blur(20px);

    transition: .25s cubic-bezier(0, .78, .17, 1);

    .queueEmptyIndicator {
        text-align: center;
        font-weight: 500;
        font-size: 14px;

        margin: 2rem 0;

        color: rgba(colors.$foreground, .25);
        opacity: 1;

        transition: .5s cubic-bezier(0, .78, .17, 1);

        &[data-hidden="true"] {
            opacity: 0;
            transform: translateY(40px);
        }
    }

    h1, h2, h3, h4, p {
        color: rgba(colors.$foreground, .5);

        font-weight: 600;
        margin: 0;
    }

    #queue {
        display: flex;
        flex-direction: column;

        position: sticky;

        top: 0;
        right: 0;

        gap: 10px;

        h1 {
            font-size: 28px;
            font-weight: 500;

            height: fit-content;

            padding: 1.75rem 0 .75rem .25rem;

            color: colors.$foreground;

            span {
                font-family: 'JetBrains Mono';
                color: rgba(colors.$foreground, .15);

                font-weight: 500;
            }
        }

        .queueItem {
            padding: 8px;

            display: flex;

            transition: .3s cubic-bezier(0.63, 0.234, 0, 1);
            
            border-left: 2px solid transparent;

            animation: .4s cubic-bezier(0.63, 0.234, 0, 1) animationQueueItemSlideIn;

            &[data-playing="true"] {
                p {
                    color: colors.$foreground;
                }

                background-image: linear-gradient(to right,
                    rgba(#fff, 0.15),
                    rgba(#fff, 0),
                );

                border-left-color: rgba(colors.$foreground, .25);

                padding-left: 20px;
            }

            &[data-removed="true"] {
                opacity: 0;
                transform: translateX($queueMaxWidth);
            }

            p {
                font-weight: 500;
                font-size: 15px;
            }

            .name {
                font-size: 16px;
                font-weight: 600;
            }

            .lyricsStatus[data-loaded="true"] {
                color: rgba(#9bffd5, .75);
            }

            .lyricsStatus[data-loaded="false"] {
                color: rgba(colors.$foreground, .25);
            }

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                margin-right: 1rem;
            }

            .trackInfo {
                display: flex;
                flex-direction: column;
                justify-content: center;

                overflow: hidden;

                p {
                    text-overflow: ellipsis;
                    text-wrap-mode: nowrap;
                }
            }
        }
    }
}