@use "./colors.scss" as colors;

@keyframes animationQueueItemSlideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animationSpin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animationPlaceholderShine {
    0% {
        background-position-x: -40px;
    }

    100% {
        background-position-x: calc(100% + 40px);
    }
}

$queueMaxWidth: 380px;

#app[data-zen="true"] {
    #queueContainer[data-collapsable="true"] {
        transform: translateX(
            calc($queueMaxWidth - 1.5rem - 8px - 50px - 1.5rem - 10px)
        );
        position: fixed;

        .queueEmptyIndicator {
            opacity: 0;
            transition: 0.3s cubic-bezier(0, 0.78, 0.17, 1);
        }

        #queue {
            h1 {
                opacity: 0;
                transition: 0.3s cubic-bezier(0, 0.78, 0.17, 1);
            }

            .queueItem {
                padding-left: 10px;

                &[data-playing="true"] {
                    border: 2px solid transparent;
                }

                img {
                    margin-right: calc(1.5rem + 10px);
                }
            }
        }

        &:hover {
            transform: translateX(0);

            .queueEmptyIndicator:not([data-hidden="true"]) {
                opacity: 1;
            }

            #queue {
                h1 {
                    opacity: 1;
                }

                .queueItem[data-playing="true"] {
                    border-color: transparent;
                    background: rgba(colors.$foreground, 0.15);
                }
            }
        }
    }
}

#queueContainer {
    width: $queueMaxWidth;
    min-width: 300px;

    border-left: 2px solid rgba(colors.$foreground, 0.1);

    background: rgba(colors.$foreground, 0.05);
    backdrop-filter: blur(20px);

    transition: 0.3s cubic-bezier(0, 0.78, 0.17, 1);

    position: relative;

    .queueEmptyIndicator {
        text-align: center;
        font-weight: 500;
        font-size: 14px;

        margin: 2rem 0;

        color: rgba(colors.$foreground, 0.25);
        opacity: 1;

        transition: 0.5s cubic-bezier(0, 0.78, 0.17, 1);

        &[data-hidden="true"] {
            opacity: 0;
            transform: translateY(40px);
            position: absolute;
        }
    }

    h1,
    h2,
    h3,
    h4,
    p {
        color: rgba(colors.$foreground, 0.75);

        font-weight: 600;
        margin: 0;
    }

    #queue {
        display: flex;
        flex-direction: column;

        overflow: scroll;
        overflow-x: hidden;

        height: 100%;

        top: 0;
        right: 0;

        padding: 0 1.5rem 1.5rem;

        gap: 10px;

        h1 {
            font-size: 28px;
            font-weight: 500;

            height: fit-content;

            position: sticky;

            padding: 1.75rem 0 0.75rem 0.25rem;

            color: colors.$foreground;

            span {
                font-family: "JetBrains Mono";
                color: rgba(colors.$foreground, 0.15);

                font-weight: 500;
            }
        }

        .queueItem {
            padding: 10px;
            display: flex;

            position: relative;

            border: 2px solid transparent;

            width: 100%;

            transition:
                0.3s cubic-bezier(0.63, 0.234, 0, 1),
                border 0.5s cubic-bezier(0, 1, 0.3, 1);
            animation: 0.4s cubic-bezier(0.63, 0.234, 0, 1)
                animationQueueItemSlideIn;

            cursor: default;
            user-select: none;

            &:hover {
                border-color: rgba(colors.$foreground, 0.25);
            }

            &[data-playing="true"] {
                p {
                    color: colors.$foreground;
                }

                background: rgba(colors.$foreground, 0.15);

                border-left-color: rgba(colors.$foreground, .25);
                padding-left: 20px;
            }

            &[data-removed="true"] {
                opacity: 0;
                transform: translateX($queueMaxWidth);
            }

            .loader {
                animation: animationSpin 1s infinite linear;

                opacity: 0.75;

                width: 30px;
                height: 30px;
                margin: 10px calc(10px + 1rem) 10px 10px;
            }

            p {
                font-weight: 400;
                font-size: 15px;
                width: fit-content;

                &[data-loading="true"] {
                    clip-path: border-box;
                    position: relative;

                    span {
                        // color: transparent;
                        display: block;

                        width: calc(100% + 20px);
                        transform: translateX(-10px) skewX(-25deg);
                        height: 100%;

                        background: linear-gradient(
                                90deg,
                                rgba(colors.$foreground, 0.5) 50%,
                                transparent 0%
                            )
                            no-repeat;

                        background-size: 40px 100%;
                        animation: animationPlaceholderShine 1s infinite;
                    }

                    background: rgba(colors.$foreground, 0.15);
                    color: transparent;
                }
            }

            .name {
                font-size: 18px;
                font-weight: 600;
            }

            .lyricsStatus {
                &[data-loaded="true"] {
                    color: rgba(#9bffd5, 0.9);
                }

                &[data-loaded="false"] {
                    color: rgba(colors.$foreground, 0.25);
                }

                &[data-loading="true"] {
                    margin-top: 5px;
                }
            }

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                margin-right: 1rem;
            }

            .trackInfo {
                display: flex;
                flex-direction: column;
                justify-content: center;

                overflow: hidden;

                p {
                    text-overflow: ellipsis;
                    text-wrap-mode: nowrap;
                }
            }
        }
    }
}
